$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$white:white;
$orange:rgb(246, 154, 33);
$gray:rgb(246, 245, 248);
$cyan:rgb(70, 221, 176);
$darkgray-1:rgb(178, 186, 193);
$darkgray-2:rgb(119, 119, 119);